/* Connected fonts */
@font-face {
	font-family: 'Lora';
	src: url('../assests/fonts/Lora-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assests/fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assests/fonts/OpenSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assests/fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

/* Variables */
:root {
	/* Colors */
	--headings-color: #7c4325;
	--accent-color: #e68541;
	--light-color: #fbf8f0;
	--dark-color: #231917;
	--overlay: rgba(35, 25, 23, 0.9);

	/* Typography */
	--headings-font: 'Lora';
	--text-font: 'Open Sans';
	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-regular: 400;

	/* Transition */
	--transition-base: 0.3s ease;

	/* Effects */
	--image-shadow: 0 0.5rem 0.5rem rgb(0, 0, 0, 0.02),
		0 1.375rem 1.125rem rgb(0, 0, 0, 0.03), 0 6.25rem 5rem rgb(0, 0, 0, 0.05);

	/* Border radius */
	--radius-small: 5px;
	--radius-base: 0.5rem;

	/* Spacing */
	--section-padding: min(5vw, 5rem);
}

/* Reset styles */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	outline: none;
	display: inline-block;
}

img,
picture {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

input,
button,
textarea {
	font: inherit;
}

textarea {
	resize: vertical;
}

/* Base styles */
html {
	font-size: 100%;
}

body {
	background-color: var(--light-color);
	font-family: var(--text-font);
	font-weight: var(--fw-regular);
	font-size: 1rem;
	line-height: 160%;
}

/* Typography */
h1,
h2 {
	font-family: 'Lora', sans-serif;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
	line-height: 120%;
}

.heading-1 {
	font-size: clamp(2.25rem, 5vw + 1rem, 3.25rem);
	color: var(--light-color);
}

.heading-2 {
	font-size: 2rem;
	color: var(--headings-color);
}

.heading-3 {
	font-size: 1.5rem;
}

.heading-4 {
	font-size: 1.25rem;
}

.heading-4--light {
	color: var(--light-color);
}

/* Utility classes */
.container {
	width: min(75rem, calc(100% - 3.75rem));
	margin: 0 auto;
}

.even-columns {
	display: grid;
}

.section {
	padding: var(--section-padding) 0;
}

.section-heading {
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
}

.section-heading::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 30%;
	height: 2px;
	background-color: var(--accent-color);
}

.separator {
	width: 2px;
	height: 1.625rem;
	margin: 0 1.25rem;
	background-color: var(--accent-color);
}

.separator--small {
	width: 2px;
	height: 1.125rem;
	margin: 0 0.75rem;
	background-color: var(--light-color);
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-y {
	display: flex;
	align-items: center;
}

.text-center {
	text-align: center;
}

/* Buttons, links */
.btn {
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: background-color var(--transition-base),
		color var(--transition-base);
}

.btn__outline {
	font-family: var(--text-font);
	font-weight: var(--fw-semibold);
	background-color: transparent;
	border: 2px solid var(--accent-color);
	padding: 0.5em 1em;
	border-radius: var(--radius-small);
}

.btn__outline:hover:not(:disabled),
.btn__outline:focus:not(:disabled) {
	background-color: var(--accent-color);
	color: var(--light-color);
}

.btn__outline--light {
	color: var(--light-color);
}

.btn__outline--dark {
	color: var(--headings-color);
}

.btn__transparent {
	background-color: transparent;
	border: none;
	font-size: 1.25rem;
	font-weight: var(--fw-bold);
	color: var(--dark-color);
}

.btn__transparent:hover,
.btn__transparent:focus,
.btn__transparent.btn--active {
	color: var(--headings-color);
}

.btn__block {
	width: 100%;
}

.btn__arrow {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: var(--radius-small);
	font-size: 1.4em;
	opacity: 1;
	cursor: pointer;
}

.btn__arrow svg {
	width: 1.2em;
	height: 1.2em;
}

.btn__close {
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	border: none;
	color: var(--light-color);
	outline: none;
	cursor: pointer;
	transition: color var(--transition-base);
}

.btn__close:hover,
.btn__close:focus {
	color: var(--accent-color);
}

/* Header styles */
.header {
	position: absolute;
	left: 0;
	right: 0;
	background-color: transparent;
	border-bottom: 1px solid var(--accent-color);
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.375rem;
}

/* Video styles */
.hero {
	display: flex;
	align-items: center;
	height: 100vh;
}

.hero__video {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: -1;
	filter: brightness(60%);
}

/* Text on video top styles */
.hero__content h1 {
	max-width: 30.375rem;
	margin-bottom: 1.875rem;
}

/* Main navigation styles */
.nav {
	position: absolute;
	right: 0;
	left: 0;
	top: 5.125rem;
	transform: scale(0.5);
	opacity: 0;
	pointer-events: none;
	width: 100%;
	background-color: var(--dark-color);
	padding: 2rem 0;
	transition: transform 0.5s, opacity 0.5s;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.nav.nav--active {
	transform: scale(1);
	opacity: 1;
	pointer-events: visible;
}

.nav__item {
	margin-bottom: 1.875rem;
}

.nav__item:last-child {
	margin-bottom: 0;
}

/* Main navigation links styles */
.nav__item a {
	color: var(--light-color);
	font-weight: var(--fw-semibold);
	font-size: 1.4rem;
	padding: 0.5em 1em;
	border-radius: var(--radius-small);
	transition: color var(--transition-base),
		background-color var(--transition-base);
}

.nav__item.active-link a,
.nav__item a:hover,
.nav__item a:focus {
	background-color: var(--light-color);
	color: var(--headings-color);
}

/* Hamburger menu button styles */
.nav__hamburger {
	position: relative;
	border: none;
	padding: 0;
	width: 2rem;
	height: 2rem;
	background-color: transparent;
	color: var(--light-color);
}

.nav__hamburger::before,
.nav__hamburger::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: currentColor;
	transition: transform 0.3s, top 0.3s;
}

.nav__hamburger::before {
	top: 0;
}

.nav__hamburger::after {
	top: calc(100% - 3px);
}

.nav__hamburger .line {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 3px;
	background-color: currentColor;
	transform: translateY(-50%);
	transition: transform var(--transition-base);
}

.nav__hamburger.burger--active::before {
	top: 50%;
	transform: rotate(45deg);
	transition: transform var(--transition-base), top var(--transition-base);
}

.nav__hamburger.burger--active::after {
	top: 50%;
	transform: rotate(-45deg);
	transition: transform var(--transition-base), top var(--transition-base);
}

.nav__hamburger.burger--active .line {
	transform: scale(0);
	transition: transform var(--transition-base);
}

/* About Us section styles */
.about__content {
	margin-bottom: 2rem;
}

.about__content p {
	margin: 1.8rem 0;
}

.about__images img {
	border-radius: var(--radius-base);
	box-shadow: var(--image-shadow);
}

.about__images--img1 {
	margin-bottom: 1.75rem;
}

/* Banner styles */
.banner {
	background-color: var(--dark-color);
	border-radius: var(--radius-base);
	box-shadow: var(--image-shadow);
	overflow: hidden;
}

.banner__heading {
	padding: 1rem 1rem 2rem;
	max-width: 19.75rem;
	text-transform: capitalize;
}

.banner__heading span {
	color: var(--accent-color);
}

.banner__img img {
	width: 100%;
}

/* Menu section styles */
.menu__wrapper {
	max-width: 53.25rem;
}

.menu__btns {
	padding: 0.625rem;
	margin-top: 1rem;
	justify-content: center;
}

.sizes {
	margin-top: 1.125rem;
	text-align: right;
	font-weight: var(--fw-bold);
}

.sizes span {
	margin-right: 1rem;
}

.sizes span:last-child {
	margin-right: 0;
}

.category {
	margin: 1.375rem 0;
}

.category:last-child {
	margin: 0;
}

.category h3 {
	margin-bottom: 1.125rem;
}

.category__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.125rem;
}

.category__item:last-child {
	margin-bottom: 0;
}

.category__item-content h4 {
	margin-bottom: 3px;
}

.category__item-prices {
	display: flex;
	column-gap: 2.2rem;
	font-weight: var(--fw-bold);
}

/* Gallery styles */
.gallery .text-center {
	margin-bottom: 2.5rem;
}

.gallery__images {
	display: grid;
	gap: 1.5rem;
}

.gallery__image {
	border-radius: var(--radius-base);
	box-shadow: var(--image-shadow);
	cursor: pointer;
	transition: outline var(--transition-base), transform var(--transition-base);
	outline-offset: 0.5rem;
}

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	opacity: 0;
	visibility: hidden;
	z-index: 5;
	pointer-events: none;
	transition: opacity var(--transition-base), visibility var(--transition-base);
	background-color: var(--overlay);
}

.lightbox.show {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.lightbox__image-wrapper {
	display: grid;
	row-gap: 0.8rem;
	max-height: 90vh;
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr max-content;
	opacity: 0;
	z-index: 6;
	transform: scale(0.8);
	transition: opacity var(--transition-base), transform var(--transition-base);
}

.lightbox.show .lightbox__image-wrapper {
	opacity: 1;
	transform: scale(1);
}

.lightbox__image-details {
	width: 100%;
	justify-content: space-between;
}

.lightbox__image-details p {
	color: var(--light-color);
}

.lightbox__image {
	width: 100%;
	min-height: fit-content;
	border-radius: var(--radius-base);
	transition: opacity var(--transition-base);
}

.lightbox__btn-wrapper {
	display: flex;
	justify-content: flex-end;
	column-gap: 1rem;
}

.lightbox__btn {
	border: none;
	background-color: var(--accent-color);
	opacity: 1;
	outline: none;
	color: var(--light-color);
	transition: background-color var(--transition-base);
}

.lightbox__btn:disabled {
	opacity: 0.3;
}

.lightbox__btn:hover:not(:disabled),
.lightbox__btn:focus:not(:disabled) {
	background-color: var(--headings-color);
}

.lightbox__btn--prev {
	transform: rotate(180deg);
}

/* Testimonials section styles */
.testimonials .text-center {
	margin-bottom: 2.5rem;
}

.testimonials__slider {
	margin: 0 auto;
}

.testimonial {
	background-color: var(--headings-color);
	border-radius: var(--radius-base);
	padding: 1.25rem;
	color: var(--light-color);
}

.testimonial__person {
	margin-bottom: 1rem;
}

.testimonial__person img {
	margin-bottom: 0.8rem;
}

/* Testimonials slider styles */
.splide__track {
	border-radius: var(--radius-base);
}

.splide__arrows {
	display: flex;
	justify-content: flex-end;
	column-gap: 0.8rem;
}

.splide__arrow {
	position: unset;
	background-color: transparent;
	border: 2px solid var(--accent-color);
	transition: background-color var(--transition-base);
}

.splide__arrow svg {
	fill: var(--headings-color);
	transition: color var(--transition-base);
}

.splide__arrow:hover:not(:disabled),
.splide.is-focus-in .splide__arrow:focus {
	background-color: var(--accent-color);
	outline: none;
}

.splide.is-focus-in .splide__arrow:focus,
.splide__arrow:hover:not(:disabled) svg,
.splide.is-focus-in .splide__arrow:focus:not(:disabled) svg {
	fill: var(--light-color);
}

/* Contact Us section styles */
.contact__content {
	margin: 1.8rem auto 2rem;
	max-width: 36rem;
}

.contact__content p {
	margin: 1rem 0 2rem;
}

/* Contact form styles */
.contact__form-input {
	margin-bottom: 1.125rem;
	padding: 0.5rem 0.625rem;
	width: 100%;
	color: var(--dark-color);
	outline: none;
	border: 1px solid rgba(35, 25, 23, 0.4);
	border-radius: var(--radius-small);
	background-color: transparent;
	transition: border-color var(--transition-base);
}

.contact__form-input:focus {
	border-color: var(--accent-color);
}

.btn__submit {
	display: flex;
	justify-content: center;
}

/* Style for the spinner */
.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-top: 4px solid var(--accent-color);
	border-radius: 50%;
	width: 1.8rem;
	height: 1.8rem;
	animation: spin 0.5s linear infinite;
	display: block;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Disable button when form is sending */
.btn__submit[disabled] {
	border-color: rgba(230, 133, 65, 0.4);
	pointer-events: none;
}

/* Form modal styles */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: var(--overlay);
	transition: opacity var(--transition-base), visibility var(--transition-base);
}

.modal.show {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.modal__content {
	position: relative;
	width: min(32rem, 90vw);
	padding: 2rem;
	border-radius: var(--radius-base);
	background-color: var(--headings-color);
	color: var(--light-color);
	opacity: 0;
	transform: translateY(-1000%);
	transition: opacity var(--transition-base), transform var(--transition-base);
}

.modal.show .modal__content {
	opacity: 1;
	transform: translateY(0);
}

.modal__content h4 {
	margin-bottom: 1.2rem;
	line-height: 1.4;
}

.modal__close {
	position: absolute;
	top: 0.5rem;
	right: 0.8rem;
}

.contact__map {
	width: 100%;
	border: none;
	border-radius: var(--radius-base);
	box-shadow: var(--image-shadow);
}

/* Footer styles */
.footer {
	padding: min(7vw, 3.75rem) 0;
	background-color: var(--dark-color);
	color: var(--light-color);
}

.footer__top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__section {
	margin-bottom: 2rem;
	max-width: 270px;
}

.footer__section h3 {
	margin-bottom: 0.75rem;
}

.footer__section a {
	color: var(--accent-color);
	text-underline-offset: 0.3rem;
}

.footer__section a:hover,
.footer__section a:focus {
	text-decoration: underline;
}

.social {
	margin-top: 0.75rem;
}

.social__item {
	display: inline-block;
	margin-right: 1rem;
}

.social__item:last-child {
	margin-right: 0;
}

.social__link {
	padding: 0.75rem;
	display: flex;
	border: solid 1px var(--light-color);
	border-radius: var(--radius-small);
	transition: border-color var(--transition-base);
}

.social__link:hover,
.social__link:focus {
	border-color: var(--accent-color);
}

.social__link:hover .social__link-icon,
.social__link:focus .social__link-icon {
	fill: var(--accent-color);
}

.social__link-icon {
	height: 1.5rem;
	fill: var(--light-color);
	transition: fill var(--transition-base);
}

.footer__copy {
	font-size: 0.875rem;
}

/* To top button styles */
.top-btn {
	position: fixed;
	bottom: 3vw;
	right: 3vw;
	padding: 0.3rem;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	background-color: var(--accent-color);
	color: var(--light-color);
	border-radius: var(--radius-small);
	border: none;
	outline: none;
	opacity: 0;
	transform: scale(0.6);
	transition: opacity var(--transition-base), transform var(--transition-base);
	pointer-events: none;
}

.top-btn.visible {
	transform: scale(1);
	opacity: 0.7;
	pointer-events: visible;
	z-index: 3;
}

.top-btn:hover,
.top-btn:focus {
	opacity: 1;
}

/* Tablet styles min-width 460px */
@media screen and (min-width: 28.75rem) {
	/* Base styles */
	body {
		font-size: 1.125rem;
	}

	/* Typography */
	.heading-1 {
		line-height: 120%;
	}

	/* Header styles */
	.header {
		margin: 0 auto;
		width: min(75rem, calc(100% - 3.75rem));
	}

	.header__nav {
		padding: 1.375rem 0;
	}

	/* About Us section */
	.about__images {
		display: flex;
		column-gap: 0.8rem;
	}

	.about__images--img1 {
		margin-bottom: 0;
	}

	/* Banner styles */
	.banner__heading {
		max-width: 100%;
	}

	/* Menu section styles */
	.menu {
		background-image: -webkit-image-set(
			'../assests/images/menu/menu-bg-960.avif' type('image/avif'),
			'../assests/images/menu/menu-bg-960.webp' type('image/webp')
		);
		background-image: image-set(
			'../assests/images/menu/menu-bg-960.avif' type('image/avif'),
			'../assests/images/menu/menu-bg-960.webp' type('image/webp')
		);
	}

	.menu__wrapper {
		margin: 0 auto;
		padding: 2rem;
		background-color: var(--light-color);
		border-radius: var(--radius-base);
		box-shadow: var(--image-shadow);
	}

	/* Gallery styles */
	.gallery__images {
		grid-template-columns: repeat(2, 1fr);
	}

	.gallery__image-1 {
		grid-row: 1 / 5;
	}

	.gallery__image-2 {
		grid-row: 5 / 6;
	}

	.gallery__image-3 {
		grid-column: 2;
		grid-row: 3 / 6;
	}

	.gallery__image-4 {
		grid-column: 2;
		grid-row: 1 / 2;
	}

	.gallery__image-5 {
		grid-column: 2;
		grid-row: 2 / 3;
	}

	/* Testimonials section styles */
	.testimonials__slider {
		width: min(80vw, 50rem);
	}

	.testimonial {
		padding: 1.25rem 2rem;
	}

	.testimonial__person {
		display: flex;
		align-items: flex-end;
		column-gap: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.testimonial__person img {
		margin-bottom: 0;
	}

	/* Footer styles */
	.footer__copy {
		font-size: inherit;
	}
}

/* Desktop styles min-width 820px */
@media screen and (min-width: 51.25rem) {
	/* Utility classes */
	.even-columns {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}

	/* About Us section */
	.about {
		display: flex;
		justify-content: space-between;
	}

	.about__content {
		width: 55%;
		margin-bottom: 0;
	}

	.about__content .text-center {
		text-align: left;
	}

	.about__content p {
		max-width: 36.75rem;
	}

	.about__images {
		max-width: 40%;
		height: 26.875rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.about__images picture:first-child {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}

	.about__images picture:last-child {
		grid-column: 2 / 4;
		grid-row: 2 / 4;
	}

	.about__images picture:hover {
		z-index: 3;
	}

	.about__images img {
		transition: transform var(--transition-base), outline var(--transition-base);
		will-change: transform, outline;
		outline-offset: 0.5rem;
	}

	.about__images img:hover {
		outline: 0.8rem solid var(--accent-color);
		transform: scale(1.05);
	}

	.about__images--img1 {
		z-index: 1;
	}

	.about__images--img2 {
		z-index: 2;
	}

	/* Banner styles */
	.banner__heading {
		padding: 2.5rem 0 2.5rem 3.75rem;
	}

	.banner__img {
		clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
	}

	/* Menu section styles */
	.menu {
		background-image: -webkit-image-set(
			'../assests/images/menu/menu-bg-1440.avif' type('image/avif'),
			'../assests/images/menu/menu-bg-1440.webp' type('image/webp')
		);
		background-image: image-set(
			'../assests/images/menu/menu-bg-1440.avif' type('image/avif'),
			'../assests/images/menu/menu-bg-1440.webp' type('image/webp')
		);
	}

	/* Gallery styles */
	.gallery__images {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery__images picture:hover {
		z-index: 1;
	}

	.gallery__image {
		cursor: pointer;
		transition: outline var(--transition-base), transform var(--transition-base);
		outline-offset: 0.5rem;
	}

	.gallery__image:hover {
		outline: 0.8rem solid var(--accent-color);
		transform: scale(1.05);
	}

	.gallery__image-1 {
		grid-row: 1 / 6;
	}

	.gallery__image-2 {
		grid-column: 2;
		grid-row: 1;
	}

	.gallery__image-3 {
		grid-column: 2;
		grid-row: 2 / 6;
	}

	.gallery__image-4 {
		grid-column: 3;
		grid-row: 1 / 5;
	}

	.gallery__image-5 {
		grid-column: 3;
		grid-row: 5;
	}

	/* Contact Us section styles */
	.contact .even-columns {
		column-gap: 1.5rem;
		padding-top: 2.5rem;
	}

	.contact__content {
		margin: 0;
	}

	.contact__map {
		height: 100%;
	}
}

/* Desktop styles min-width 1100px */
@media screen and (min-width: 68.75rem) {
	/* Main navigation styles */
	.nav {
		background-color: transparent;
		position: unset;
		width: auto;
		padding: 0;
		opacity: 1;
		transform: scale(1);
		pointer-events: visible;
	}

	.nav__list {
		display: flex;
	}

	.nav__item {
		margin: 0 1.5rem 0 0;
	}

	.nav__item:last-child {
		margin-right: 0;
	}

	.nav__item a {
		font-size: 1rem;
	}

	/* Hide hamburger menu */
	.nav__hamburger {
		display: none;
	}

	/* Menu section styles */
	.menu {
		background-image: -webkit-image-set(
			'../assests/images/menu/menu-bg.avif' type('image/avif'),
			'../assests/images/menu/menu-bg.webp' type('image/webp')
		);
		background-image: image-set(
			'../assests/images/menu/menu-bg.avif' type('image/avif'),
			'../assests/images/menu/menu-bg.webp' type('image/webp')
		);
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}
}
